// custom side-bar background for wide layout:

.side-bar-bg {
  // background-color: #e7ebff;
  background-image: url(/folder-A/polina-kuzovkova-unsplash.jpg);

  // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Resizing_background_images
  background-size: cover;
  resize: both;  
}
